@inject SignInManager<IdentityUser> SignInManager
@{

}
<ul class="list-group">
    <li class="list-group-item"><a id="locations" asp-area="Admin" asp-controller="Locations" asp-action="Index">Locations</a></li>
    <li class="list-group-item"><a id="clubs" asp-area="Admin" asp-controller="Clubs" asp-action="Index">Clubs</a></li>
    <li class="list-group-item"><a id="roles" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a></li>
    <li class="list-group-item"><a id="users" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a></li>
    <li class="list-group-item"><a id="user-roles" asp-area="Admin" asp-controller="UserRoles" asp-action="Index">User Roles</a></li>

</ul>
